{% extends 'blog/base.html' %}
{% block content %}
<center>
<form method="POST" action="{% url 'login' %}" class="form-signin">
    {% csrf_token %}
    <div class="container mt-5 mb-5 d-flex justify-content-center rounded-5" >
        <div class="card px-1 py-4 rounded-5 bg-danger bg-opacity-50" style="background-image: url('https://i.pinimg.com/564x/f9/20/ee/f920eef9243ec42bbe0002e4931f45c5.jpg')">
        <div class="card-body ">
            <h4 class="card-title mb-3">LOGIN</h4>
   
        <h6 class="information mt-4">Please provide following information </h6>
        <div class="row">
            <div class="col-sm-12"><p>
                <div class="form-group"><p>
                    {{ form.username.label_tag }} {{ form.username}} 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12"><p>
                <div class="form-group"><p>
                    {{ form.password.label_tag }} {{ form.password }} 
                </div>
            </div>
        </div>
        <p>
    <button class="btn btn-lg btn-dark align-items-center float-center" type="submit">Login</button>
</form>
</div>
</div>
</div>
   {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %} 

{% endblock %}