{% extends 'blog/base.html' %}

{% block content %}<br><br>
<article>
<center>
    <h1>New comment</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
       
    <input value="{{ user }}" type="hidden" name="author" class="form-control" maxlength="200" id="id_author">
  <p>
    <label for="id_text">Text:</label>
    <textarea name="text" cols="40" rows="10" class="form-control" required "id_text"></textarea>
    </p>
        <button type="submit" class="save btn btn-secondary">Send</button>
    </form>
    <center>
    </article>
{% endblock %}