{% extends 'blog/base.html' %}

{% block content %}
<center>
    <h1>COMMENTS...</h1>
{% if not post.comments.all %}
    No Comments Yet.. <a href="{% url 'add_comment' post.pk%}">
        Add One </a>
{%else%}   

    {% for comment in post.comments.all %}
        <strong>{{ comment.name }} - 
            {{ comment.date_added }}</strong>
        <br/>
            {{ comment.body }}
        <br><br>
    {% endfor %}
{% endif %}<br><br>

<a href="{% url 'add_comment' post.pk%}">Add comment</a>

    <center>
{% endblock %}