{% extends 'blog/base.html' %}
{% load static %}

 {% block title %} CONTACT {% endblock %}

    {% block content %}
    
      <section class="about-section text-center" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <br>
                    <h2 class="text-white mb-4">CONTACT</h2>
                    <p class="text-white-50">
                        Please write us at andrea@moda.com with any questions, concerns, or technical problems.

                        We cannot always write back to everyone, but we promise to read all of our messages.
                    </p>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div  class="text-white-50" class="form-group">
                    <label for="user">User:</label>
                    <input type="text" class="form-control" id="pwuserd">
                  </div>
<br>
                    <div  class="text-white-50" class="form-group">
                      <label for="email">Email address:</label>
                      <input type="email" class="form-control" id="email">
                    </div>
                    <br>
                    <div  class="text-white-50" class="form-group">
                        <label for="pwd">Mesagge:</label>
                        <textarea class="form-control"></textarea>
                      </div>
                    <div  class="text-white-50" class="checkbox">
                      <label><input type="checkbox"> Remember me</label>
                    </div><br>
                    <button type="submit" class="btn btn-secondary">Submit</button>
                    
                  </form>
                  <br>
            
            <img src="{% static 'img/fashion3.webp' %}" alt="fashion" width="900px">
        </div>
    </section>
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-black mb-5">Subscribe to receive updates!</h2>
        
                    <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Email address input-->
                        <div class="row input-group-newsletter">
                            <div class="col">Limited Time Offer: Subscribe to Vogue and receive two exclusive gifts  <button class="btn btn-primary disabled" id="submitButton" type="submit">SUBSCRIBE ME</button></div>
                        </div>
                    
                      </form><br><br><br>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-section bg-black">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">4923 Market Street, Czech Republic</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50"><a href="#!">andrea@moda.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">+1 (555) 902-8832</div>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
            </div><br><br>
        </div>
    </section>                
{% endblock %}
