{% extends 'blog/base.html' %}
{% load static %}    
{% block title %} NEWS {% endblock %}
    {% block content %}
    <style>
        body{
            background-image: url('https://i.pinimg.com/564x/67/fa/d0/67fad04f1997dec9aa3702ae5dccb80a.jpg');
            background-size:100%
        }
    </style>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8"><br><br><br><br><br>
                <h1 class="text-black mb-4">2023 TRENDS</h1><br>
                <p class="text-black-50">
                    With its cameo appearances and celebrity controversy, the spring 2023 ready-to-wear season produced one viral moment after another. Scrollers are gonna scroll, after all. For lasting impact, however, it’s better to look at the clothes that reflect current events. The fight for women’s rights, war, and the environment are dominating the headlines and the best collections reacted to this state of disquietude in a number of ways.
                    <br><br>     </p>
                </div>
        <p class="text-white-50">
        <img src="{% static 'img/fashion4.jpg' %}" alt="fashion" width="500px" height="300px">.........<img src="{% static 'img/fashion3.webp' %}" alt="fashion" width="500px" height="300px"><br><br> <br><br> 
    </p><br><br> </div>   <div class="row gx-4 gx-lg-5 justify-content-center">
     
        <div class="col-lg-8">
            <p class="text-black-50">
                A sense of undoneness was pervasive, and communicated through asymmetric cuts (see all the half skirts) and through distressed and wrinkled fabrics that had the appearance of wear and age. Preparedness is key in the face of unrest, so utilitarian details in the form of hands-free cargo pockets and parachute straps showed up in many collections. Some designers took things a step further, creating defensive armor of sorts for those with the fighting spirit.</h5>
            </p>
        </div> <!-- Projects--> </div>
        </div><br><br>
      <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img src="{% static 'img/vintage.webp' %}" alt="fashion" width="600px" height="700px"></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>VINTAGE FASHION</h4>
                        <p class="text-black-50 mb-0">This year, vintage fashion took center stage on the red carpets and in paparazzi shots of celebrities. Whether they were attending a major event or not, Hollywood A-listers made archival fashion feel entirely modern, proving that a well-cut design can stand the test of time.
                          
                            </p>
                    </div>
                </div>
            </div><br><br><br><br>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img src="{% static 'img/fashion.webp' %}" alt="fashion" width="613px" height="300px"></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Misty</h4>
                                <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img src="{% static 'img/fashion4.jpg' %}" alt="fashion" width="522px" height="300px"></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">PUNK COMES BACK!</h4>
                                <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                                <hr class="d-none d-lg-block mb-0 me-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <center>
    <img src="{% static 'img/fashion.webp' %}" alt="Texto alternativo">
{% endblock %}