{% extends 'blog/base.html' %}
{% block title %} MENU {% endblock %}
{% block content %}
    {% for post in posts %}
    <hr>
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
      
      Comments: {{ post.comments.count }}<br>Likes: {{ post.likes.count }}
        </article><br>
     

    {% endfor %}
{% endblock %}