{% extends 'blog/base.html' %}
{% block title %} MENU {% endblock %}
{% block content %}
<style>
    body{
        background-image: url('https://i.pinimg.com/564x/ef/22/75/ef2275cb81992b3fdf28a9229071feaf.jpg');
        background-size:100%
    }
</style>
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center"><br>

                <h1 class="text-pink-50" >FASHION BLOG</h1>
                {% if perms.blog.add_post %}
                {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'post_new' %}" class="top-menu">
             NEW POST
                </a>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
</header>
    {% for post in posts %}
    <hr>
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
      
     Comments: <strong> {{ post.comments.count }} </strong><br>Likes: <strong> {{ post.likes }} </strong>
        </article><br>
     
    {% endfor %}
{% endblock %}