{% extends 'blog/base.html' %}

{% block content %}<br><br><br>
<style>
    body{
        background-image: url('https://i.pinimg.com/564x/ef/22/75/ef2275cb81992b3fdf28a9229071feaf.jpg');
        background-size:100%
    }
</style>
<center>
    <article >
    <h2>POST:</h2><strong>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-secondary">Save</button>
        
    </form>
    <center>
    </strong>
    </article>
{% endblock %}